{% extends 'base.html' %} {% block content %}

<div class="container py-5">
  <form
    action="{% url 'save_data' %}"
    method="post"
    class="container mx-auto card p-4"
  >
    {% include 'components/ShowMessage.html' %} {% csrf_token %}

    <div class="mb-3">
      <label for="title">Note Title</label>
      <input
        name="title"
        type="text"
        id="title"
        class="form-control"
        placeholder="Enter Note Title"
      />
    </div>

    <div class="mb-3">
      <label for="desc">Note Description</label>
      <textarea
        name="description"
        rows="5"
        id="desc"
        class="form-control"
        placeholder="Enter Note Description"
      ></textarea>
    </div>

    <div class="mb-3">
      <button type="submit" style="width: 100%" class="btn btn-primary">
        Add Note <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>

  <div class="container">
    <h1>Notes</h1>

    <div class="row">
      {% for note in notes %}
      <div class="p-2 col-sm-2 col-md-3 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4>{{ note.title }}</h4>
            <p>{{ note.description }}</p>
          </div>

          <div href="{% url 'editView' note.id %}" class="card-footer">
            <a
              href="{% url 'updateViewpage' note.id %}"
              class="btn btn-sm btn-info"
            >
              Edit
            </a>

            <!-- ✅ FIXED DELETE BUTTON -->
            <a
              href="{% url 'deleteView' note.id %}"
              class="btn btn-sm btn-danger"
            >
              Delete
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block title %} {{ block.super }} {% endblock %}
